* ::selection{
  display: none;
}

.App{
       font-family: fantasy;                         
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  /* text-align: center; ye use karne se button pura width le raha hai toh Display: flex use kar rahe hai  */
  background: #B993D6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
  font-size: 50px;
  color: rgb(2, 71, 66);
}

.container{
  
  margin-top: 40px;
  display: grid;
  /* 1 row main 4 columns chahiye toh uske liye (Grid-template-column use karenge) */
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 50vh;
  height: 50vh;

}

.cell{
  
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(166, 244, 218);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
input{
  width: 300px;
  height: 40px;
  font-size: 25px;
  padding-left: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}